<div *ngIf="session">
  <div>
    <p-toolbar>
      <div class="p-grid">
        <div class="p-col">
          <div class="ui-toolbar-group-left">
            <p-tieredMenu #menu [model]="items" [popup]="true"></p-tieredMenu>
            <button (click)="display=true" pButton type="button" label="menu" icon="pi pi-bars" iconPos="right"></button>

          </div>
        </div>
        <div class="p-col">
          <h3 style="margin-top:0;margin-bottom:0;">Arambala Carajo</h3>
        </div>
        <div class="p-col">
          <div class="ui-toolbar-group-right">

            <button pButton type="button" class="ui-button-success" [label]="nombreCompleto"></button>

          </div>
        </div>
      </div>


    </p-toolbar>
  </div>
  <p-sidebar class="ui-sidebar-sm	 ui-sidebar-md" dismissible="true" modal="true" [(visible)]="display">
    <div>
      <h4>Arambala Carajo</h4>
    </div>
    <p-panelMenu [model]="items" [style]="{'width':'250px','margin-top':'2em'}" [multiple]="false"></p-panelMenu>

  </p-sidebar>
</div>
