<div class="ui-g-12">
  <p-toolbar>
    <div class="ui-toolbar-group-left">
      <div class="ui-inputgroup">
      <button [routerLink]="'nuevo'" pButton type="button" label="Nueva" icon="pi pi-plus"></button>
      </div>
    </div>

  </p-toolbar>
</div>
<div class="ui-g-12">
  <p-table [columns]="cols" #dt [paginator]="true" [rows]="10" [value]="compras"
  selectionMode="single" [(selection)]="compraSelec" dataKey="codCabana">
    <ng-template pTemplate="caption">
      <div style="text-align: center">
          <button pButton icon="pi pi-search"></button>
          <input type="text" pInputText size="30" placeholder="Filtrado "
          (input)="dt.filterGlobal($event.target.value, 'contains')"
           style="width:auto">
      </div>
  </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
            {{col.header}}
        </th>
    </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-compra let-columns="columns">
      <tr [pSelectableRow]="rowData" [routerLink]="rowData.registroCompra">

        <td class="ui-p-1">{{rowData.registroCompra}}</td>
        <td class="ui-p-2">{{rowData.fechaCompra}}</td>
        <td class="ui-p-3">{{rowData.proveedor.razonSocial}}</td>
        <td class="ui-p-4">{{rowData.detalle}}</td>

      </tr>
    </ng-template>
  </p-table>
</div>
