<p-overlayPanel [style]="{'width':'500px'}" #op>
  <ac-cuentas (cuenta)="cargarCuenta($event)"></ac-cuentas>
</p-overlayPanel>
<div class="p-grid">
  <div class="p-col-6" style="height: 480px;">
    <p-card [style]="{'height':'430px'}">
      <p-table [value]="menuCuenta" [scrollable]="true" scrollHeight="320px">

        <ng-template pTemplate="header">
          <tr>
            <th>Producto</th>
            <th>Presio</th>
            <th>Cantidad</th>
            <th>Sub-Total</th>

          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-menu>
          <tr [pSelectableRow]="menu" (click)="displayCuentaMenu(menu)">
            <td>{{menu.menu.nombre}}</td>
            <td>${{menu.menu.precio}}</td>
            <td>{{menu.cantidad}}</td>
            <td>${{(-menu.cantidad) * (-menu.menu.precio)}}</td>

          </tr>
        </ng-template>
      </p-table>
    </p-card>

    <p-toolbar>
      <div class="ui-toolbar-group-left">
        <button type="button" pButton class="ui-button-raised ui-button-success" label="TOTAL"></button>
      </div>
      <div class="ui-toolbar-group-right">
        <button style="font-size: 16px;" type="button" [label]="'$'+total" pButton class="ui-button-raised ui-button-rounded ui-button-danger"></button>
      </div>

    </p-toolbar>
  </div>

  <div class="p-col-6" style="height: 480px;">
    <div style="margin-top: 0.5em;" class="p-grid">
      <div class="p-col-12">
        <div class="ui-inputgroup">
          <button pButton type="button" label="Cantida"></button>
          <input size="10" pInputText type="text" name="cantidad" [(ngModel)]="cantidad">
        </div>
      </div>
    </div>
    <ac-caja-principal *ngIf="cambioMenuPrincipal" (cambioServicio)="menuServicio()" (cambioComidas)="menuComida()"
      (cambioCabanas)="menuCabana()" (cambioCategoriaMenu)="menuCategoriaMenu()"></ac-caja-principal>

    <ac-caja-servicio (menuSeleccionado)="agregarMenu($event)" *ngIf="cambioServicio" (regresar)="menuPrincipal()"></ac-caja-servicio>
    <ac-caja-categoria-menu *ngIf="cambioCategoriaMenu" (regresar)="menuPrincipal()" (categoria)="menuComida($event)"></ac-caja-categoria-menu>
    <ac-caja-cabana (menuSeleccionado)="agregarMenu($event)" *ngIf="cambioCabana" (regresar)="menuPrincipal()"></ac-caja-cabana>
    <ac-caja-comida (menuSeleccionado)="agregarMenu($event)" [idCategoriaMenu]="idCategoriaMenu" *ngIf="cambioComida"
      (regresar)="menuPrincipal()"></ac-caja-comida>
  </div>
  <div class="p-col-12">
    <p-toolbar>
      <div class="ui-toolbar-group-left">

        <button pButton type="button" label="Cobrar Efectivo" icon="pi pi-arrow-circle-up"
        class="ui-button-success"  (click)="displayCobrarCuenta()"></button>
            <button pButton type="button" label="Cobrar Tarjeta" icon="pi pi-arrow-circle-up" style="margin-left: 1em;margin-right: 1em;" class="ui-button-success"
          (click)="displayCobrarCuenta()"></button>
            <p-selectButton [options]="comprobantes" [(ngModel)]="comprobante" ></p-selectButton>
        <button pButton type="button" label="Cuentas por cobrar" icon="pi pi-bars" style="margin-left: 1em;" class="ui-button-warning"
          (click)="op.toggle($event); cargaLista = true;"></button>
        <button pButton type="button" label="Limpiar menu" icon="pi pi-replay" style="margin-left: 1em;" (click)="limpiarCuenta()"></button>


      </div>
    </p-toolbar>

  </div>
</div>

<p-confirmDialog header="Confirmacion" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>
<p-dialog dismissableMask="true" [modal]="true" *ngIf="cuentaMenuEdicion!==null" [(visible)]="displayEdicionMenuCuenta">
  <p-header>
    Editar Menu
  </p-header>

  <div class="p-grid">
    <div class="p-col-12">
      <p>{{cuentaMenuEdicion.menu.nombre}}</p>
    </div>
    <div class="p-col-12">
      <div class="ui-inputgroup">
        <button type="button" pButton label="Cantidad"></button>
        <input type="text" name="cantidad" [(ngModel)]="cuentaMenuEdicion.cantidad">
      </div>
    </div>
  </div>
  <p-footer>
    <button (click)="editarCuentaMenu()" pButton type="button" label="Editar" icon="pi pi-plus" style="margin-right: 1em;"
      class="ui-button-success"></button>
    <button (click)="borrarCuentaMenu()" pButton type="button" label="Eliminar" icon="pi pi-trash" style="margin-right: 1em;"
      class="ui-button-danger"></button>
  </p-footer>
</p-dialog>
<p-dialog [closeOnEscape]="false" [dismissableMask]="false" [closable]="false" *ngIf="caja !== null" modal="true"
  [(visible)]="addCaja">
  <p-header>
    Iniciar caja
  </p-header>
  <form>
    <div>
      <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-lg-6 ui-md-12">
          <div class="ui-inputgroup">
            <button pButton type="button" class="ui-button-rounded ui-button-raised ui-button-info" label="Monto de Apertura($)"></button>
            <input class="ui-g-12  ui-lg-6 ui-md-12" type="text" pInputText [(ngModel)]="caja.aperturaCaja" name="apertura"
              placeholder="Monto($)">
          </div>
        </div>
      </div>
    </div>
  </form>
  <p-footer>
    <button (click)="agregarCaja()" pButton type="button" label="Iniciar Caja" icon="pi pi-plus" style="margin-right: 1em;"
      class="ui-button-success"></button>
    <button pButton type="button" class="ui-button-danger" (click)="addCaja=false;caja=null" label="Cancelar"></button>
  </p-footer>
</p-dialog>
<p-dialog modal="true" [(visible)]="addCobrarCuenta">
  <div class="p-grid">
    <div class="p-col-12">
      <div class="ui-inputgroup">
        <button type="button" pButton label="PAGA CON($):"></button>
        <input type="text" name="pago" placeholder="Pago $" [(ngModel)]="pago">
      </div>
    </div>
  </div>
  <p-footer>
    <button (click)="cobrarCuenta()" pButton type="button" label="Cobrar" style="margin-right: 1em;" class="ui-button-success"></button>
    <button pButton type="button" class="ui-button-danger" (click)="addCobrarCuenta=false" label="Cancelar"></button>
  </p-footer>
</p-dialog>
<p-dialog modal="true" [(visible)]="modalFactura">
  <div class="p-grid">
    <div class="p-col-12">
      <div class="ui-inputgroup">
        <button type="button" pButton label="Numero Factura:"></button>
        <input type="text" name="numFactura" placeholder="Numero" [(ngModel)]="factura.numFactura">
      </div>
    </div>
      <div class="p-col-12">
      <div class="ui-inputgroup">
        <button type="button" pButton label="Razon Social"></button>
        <input type="text" name="razonSocial" placeholder="Nombre" [(ngModel)]="factura.razonSocial">
      </div>
    </div>
    <div class="p-col-12">
      <div class="ui-inputgroup">
        <button type="button" pButton label="Correlativo de Comprobante"></button>
        <input type="text" name="correlativo" placeholder="Numero" [(ngModel)]="factura.correlativoFactura">
      </div>
    </div>
     <div class="p-col-12">
      <div class="ui-inputgroup">
        <button type="button" pButton label="Detalles"></button>
        <input type="text" name="detalle" placeholder="Detalles" [(ngModel)]="factura.detalle">
      </div>
    </div>
  </div>

  <p-footer>
    <button (click)="cobrarFactura()" pButton type="button" label="Cobrar" style="margin-right: 1em;" class="ui-button-success"></button>
    <button pButton type="button" class="ui-button-danger" (click)="modalFactura=false" label="Cancelar"></button>
  </p-footer>
</p-dialog>
<p-dialog modal="true" [(visible)]="modalCredito">
  <div class="p-grid">
    <div class="p-col-12">
      <div class="ui-inputgroup">
        <button type="button" pButton label="Numero Factura:"></button>
        <input type="text" name="numFactura" placeholder="Numero" [(ngModel)]="factura.numFactura">
      </div>
    </div>
      <div class="p-col-12">
      <div class="ui-inputgroup">
        <button type="button" pButton label="Razon Social"></button>
        <input type="text" name="razonSocial" placeholder="Nombre" [(ngModel)]="factura.razonSocial">
      </div>
    </div>
    <div class="p-col-12">
      <div class="ui-inputgroup">
        <button type="button" pButton label="Correlativo de Comprobante"></button>
        <input type="text" name="correlativo" placeholder="Numero" [(ngModel)]="factura.correlativoFactura">
      </div>
    </div>
     <div class="p-col-12">
      <div class="ui-inputgroup">
        <button type="button" pButton label="Detalles"></button>
        <input type="text" name="detalle" placeholder="Detalles" [(ngModel)]="factura.detalle">
      </div>
    </div>
  </div>

  <p-footer>
    <button (click)="cobrarCredito()" pButton type="button" label="Cobrar" style="margin-right: 1em;" class="ui-button-success"></button>
    <button pButton type="button" class="ui-button-danger" (click)="modalFactura=false" label="Cancelar"></button>
  </p-footer>
</p-dialog>
<p-dialog modal="true" [(visible)]="modalComprobante">
  <div class="p-grid">
    <div class="p-col-12">
      <div class="ui-inputgroup">
        <button type="button" pButton label="PAGA CON($):"></button>
        <input type="text" name="pago" placeholder="Pago $" [(ngModel)]="pago">
      </div>
    </div>
  </div>
  <p-footer>
    <button (click)="modalComprobante=false;" pButton type="button" label="Aceptar"  class="ui-button-success"></button>
  </p-footer>
</p-dialog>
<p-toast [style]="{marginTop: '80px'}" position="top-center"></p-toast>
<ac-modal-comprobante *ngIf="modalComprobanteFinal"[factura]="factura" [tipoComprobante]="tipoComprobante" [mostrarModal]="modalComprobanteFinal">

</ac-modal-comprobante>
