<div class="ui-g-12">
  <form>
    <div class="ui-g-12">
      <p-toolbar>
        <div class="ui-toolbar-group-left">
          <button pButton type="button" icon="pi pi-arrow-left" class="ui-button-secondary"
          (click)="regresar($event)" label="Regresar"
            style="margin-right: .35em; margin-bottom: 0.35em;"></button>
          <button *ngIf="tipoPerfil" (click)="update($event)" pButton type="button" icon="pi pi-pencil" label="Editar" class="ui-button-success"
            style="margin-right: .35em;margin-bottom: 0.35em;"></button>
          <button *ngIf="tipoPerfil" (click)="confirmEliminar($event)" pButton type="button" icon="pi pi-trash" label="Eliminar" class="ui-button-danger"
            style="margin-right: .35em;margin-bottom: 0.35em;"></button>
            <button  *ngIf="tipoPerfil"  pButton type="button" icon="pi pi-plus" label="Nuevo" class="ui-button-primary"
            style="margin-right: .35em;margin-bottom: 0.35em;" [routerLink]="'../nuevo'"></button>


        </div>

      </p-toolbar>

    </div>

    <div class="ui-g-6 ui-lg-6 ui-md-12 ui-sm-12">
      <p-panel header="Edicion De Compra" >

        <div class="ui-g ui-fluid">
          <div class="ui-g-12 ui-lg-12 ui-md-12">
            <div class="ui-inputgroup">
              <button pButton type="button" class="ui-button-rounded ui-button-raised ui-button-info"
              label="ID"></button>
              <input disabled="true" type="text" pInputText [(ngModel)]="menu.idMenu"
               placeholder="ID.." name="id">

            </div>
          </div>
        </div>
        <div class="p-grid">
            <div class="p-xl-6 p-lg-6 p-md-12 p-sm-12">
                <div class="ui-inputgroup">
                  <button pButton type="button" class="ui-button-rounded ui-button-raised ui-button-info"
                  label=" Nombre"></button>
                  <input [disabled]="disable" [(ngModel)]="menu.nombre" placeholder="Nombre ..."
                   name="proveedor" pInputText required>
                </div>
              </div>
          <div class="p-xl-6 p-lg-4 p-md-12 p-sm-12">
            <div class="ui-inputgroup">
              <button pButton type="button" class="ui-button-rounded ui-button-raised ui-button-info"
               label="Precio"></button>
              <input [disabled]="disable" pInputText required [(ngModel)]="menu.precio" placeholder="Precio" name="precio">

            </div>
          </div>

        </div>
        <div class="p-grid">
          <div class="p-xl-6 p-lg-6 p-md-12 p-sm-12">
            <div class="ui-inputgroup">
              <button pButton type="button" class="ui-button-rounded ui-button-raised ui-button-info"
               label="Detalle"></button>
              <input [disabled]="disable" pInputText required  [(ngModel)]="menu.detalles"
                 name="detalle" placeholder="detalles..">

            </div>
          </div>
          <div class="p-xl-6 p-lg-4 p-md-12 p-sm-12">
              <div class="ui-inputgroup">
                <button pButton type="button" class="ui-button-rounded ui-button-raised ui-button-info"
                 label="Tipo de Menu"></button>
                 <p-autoComplete [disabled]="disable"  [(ngModel)]="categoriaMenu" [suggestions]="categorias"
                 (completeMethod)="filtrarCategorias($event)" field="categoriaMenu" [minLength]="1"   [size]="20"
                 name="categoriaMenu" [dropdown]="true"></p-autoComplete>

              </div>
            </div>
            <div class="p-xl-6 p-lg-4 p-md-12 p-sm-12">
              <div class="ui-inputgroup">
                  <button pButton type="button" label="IVA "  style="margin-right: 1em;" class="ui-button-warning"></button>
                  <p-checkbox [(ngModel)]="menu.iva" binary="true"  [style]="{'margin-top': '0.5em'}" name="iva"></p-checkbox>


              </div>
            </div>

        </div>
        <p-footer *ngIf="!disable" >
          <button style="margin-right: .35em; float: left" (click)="confirmActualizar($event)" pButton type="button" label="Guardar" class="ui-button-success"></button>
          <button (click)="cancel($event)" pButton type="button" class="ui-button-danger" label="Cancelar"></button>

        </p-footer>

      </p-panel>
    </div>
    <div class="ui-g-6 ui-lg-6 ui-md-12 ui-sm-12">
      <!-- <p-scrollPanel [style]="{width: '100%', height: '200px'}">-->
      <p-panel *ngIf="mostrarReceta" header="Lista de Recetas">
        <p-toolbar>
          <button (click)="openModalReceta()" pButton type="button" icon="pi pi-plus" label="Agregar Receta"
          class="ui-button-warning"></button></p-toolbar>
        <p-table [value]="menuRecetaLista" [scrollable]="true" scrollHeight="200px">
          <ng-template pTemplate="header">
            <tr>
              <th>Receta</th>
              <th>Detalle</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-MR>
            <tr [pSelectableRow]="MR" (click)="openModalReceta(MR)">
              <td>{{MR.receta.nombre}}</td>
              <td>{{MR.receta.detalle}}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-panel>
      </div>
  </form>
</div>

<p-confirmDialog></p-confirmDialog>
<p-growl [value]="msgs"></p-growl>
<p-dialog  [contentStyle]="{'overflow':'visible'}" header="Agregar receta al menu" [(visible)]="addReceta">

  <div class="p-grid">
    <div class="p-col">
      <div  class="ui-inputgroup">
        <button pButton type="button" class="ui-button-rounded ui-button-raised ui-button-info"
        label="Receta"></button>
        <p-autoComplete [(ngModel)]="receta" [suggestions]="recetaListaFiltrado" (completeMethod)="filtradorReceta($event)"
          field="nombre" [size]="30" placeholder="Receta" [minLength]="1" [dropdown]="true" name="nombre"></p-autoComplete>
      </div>
    </div>
  </div>
  <p-footer>
    <button *ngIf="tipoDeEdicionDeReceta" class="ui-button-warning" type="button" pButton icon="pi pi-trash" (click)="eliminarMenuReceta(menuRecetaTemporal)"
      label="Eliminar"></button>
    <button *ngIf="!tipoDeEdicionDeReceta" type="button" pButton icon="pi pi-check" (click)="addRecetaToMenu($event)"
      label="Agregar"></button>
    <button class="ui-button-danger" type="button" pButton icon="pi pi-close" (click)="addReceta=false" label="Cancelar"></button>
  </p-footer>
</p-dialog>
