.header {
  margin-top: 0;
  text-align: right;
  height: 3.5em;
  overflow: hidden;
  //background: #f2f2f2; // position: fixed;
  h1 {
    margin-top: 0.5em; //margin-bottom: 0;
    margin-right: 1em;
  }
}

.header-float {
  top: 0;
  position: fixed;
  width: 100%;
 // background: #f2f2f2;
  h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.float {
  top: 0;
  position: fixed;
  width: 100%;
}

.menu {
  // position: fixed;
  //top: 1em;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
 // background-color: #333;
  padding-left: 0;
}
/*
.active {
  background-color: #4CAF50;
  color: white;
}

.menu .icon {
  display: none;
}

.main {
  padding-left: 0;
}

@media screen and (max-width: 600px) {
  .menu a:not(:first-child) {
    display: none;
  }
  .menu a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .menu.responsive {
    position: fixed;
  }
  .menu.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menu.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
*/
