<p-dataView paginator="true" layout="grid" #dv [value]="menus" [paginator]="true" [rows]="8"
      paginatorPosition="both">
      <p-header>
        Servicios
        <button pButton type="button" (click)="regresarFunc()" label="Regresar"></button>
      </p-header>
      <ng-template let-menu pTemplate="gridItem">
        <div (click)="select(menu.menu)" style="padding:.5em" class="ui-g-6 ui-md-6">
          <p-panel [style]="{'text-align':'center'}">
              <p-header>
                  <button pButton class="ui-button-success" [label]="menu.menu.nombre+'- $'+menu.menu.precio"></button>
              </p-header>
            <div class="car-detail">
                {{menu.menu.detalles}}
            </div>

            </p-panel>
        </div>
      </ng-template>
    </p-dataView>
