<p-panel>
  <p-header>
    Menu Servicios
    <button style="margin-left: 1em;" pButton type="button" label="Agregar Servicio" icon="pi pi-plus" (click)="openModalServicios()"></button>
    <button style="margin-left: 1em;" pButton type="button" label="Recargar" icon="pi pi-refresh" (click)="ngOnInit()"></button>
  </p-header>
  <p-table scrollHeight="200px" scrollHeight="200px" [columns]="colsMenu" #dt [paginator]="true" [rows]="4"
    [scrollable]="true" [value]="menusCategoria" selectionMode="single" [(selection)]="menuSelec" dataKey="menu.idMenu">
    <ng-template pTemplate="caption">
      <div style="text-align: center">
        <button pButton icon="pi pi-search"></button>
        <input type="text" pInputText size="30" placeholder="Filtrado " (input)="dt.filterGlobal($event.target.value, 'contains')"
          style="width:auto">
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-menu let-columns="columns">
      <tr [pSelectableRow]="menu" (click)="displayBorrarMenuCategoria(menu)">

        <td class="ui-p-1">{{menu.menu.nombre}}</td>
        <td class="ui-p-1">${{menu.menu.precio}}</td>
        <td class="ui-p-2">{{menu.menu.detalles}}</td>

      </tr>
    </ng-template>
  </p-table>
</p-panel>
<p-toast position="top-left"></p-toast>
<p-dialog [contentStyle]="{'overflow':'visible'}" [(visible)]="addServicio">
  <p-header>
    Agregar servicio al menu
  </p-header>
  <div class="p-grid">
    <div class="p-col-12">
      <div class="ui-inputgroup">
        <button pButton type="button" label="Servicio: "></button>
        <p-autoComplete [(ngModel)]="servicio" [suggestions]="serviciosFiltrados" (completeMethod)="filtrarServicios($event)"
          [dropdown]="true" field="nombre"></p-autoComplete>
      </div>
    </div>
  </div>
  <p-footer>
    <button pButton type="button" label="Agregar" icon="pi pi-plus" class="ui-button-success" (click)="guardarServicio()"></button>
    <button pButton type="button" label="Cancelar" (click)="addServicio=false"></button>
  </p-footer>
</p-dialog>
<p-confirmDialog header="Confirmar" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>
