<div class="ui-g-12">
  <form>
    <div class="ui-g-12">
      <p-toolbar>
        <div class="ui-toolbar-group-left">
          <button pButton type="button" icon="pi pi-arrow-left" class="ui-button-secondary"
          (click)="regresar($event)" label="Regresar"
            style="margin-right: .35em; margin-bottom: 0.35em;"></button>
          <button *ngIf="tipoPerfil" (click)="update($event)"
          pButton type="button" icon="pi pi-pencil" label="Editar" class="ui-button-success"
            style="margin-right: .35em;margin-bottom: 0.35em;"></button>
          <button *ngIf="tipoPerfil" (click)="confirmEliminar($event)"
          pButton type="button" icon="pi pi-trash" label="Eliminar" class="ui-button-danger"
            style="margin-right: .35em;margin-bottom: 0.35em;"></button>
            <button  *ngIf="tipoPerfil"  pButton type="button" icon="pi pi-plus"
             label="Nuevo" class="ui-button-primary"
            style="margin-right: .35em;margin-bottom: 0.35em;" [routerLink]="'../nuevo'"></button>


        </div>

      </p-toolbar>

    </div>

    <div class="ui-g-6 ui-lg-6 ui-md-12 ui-sm-12">
      <p-panel header="Edicion De Compra" >

        <div class="ui-g ui-fluid">
          <div class="ui-g-12 ui-lg-12 ui-md-12">
            <div class="ui-inputgroup">
              <button pButton type="button" class="ui-button-rounded ui-button-raised ui-button-info"
              label="ID"></button>
              <input disabled="true" type="text" pInputText [(ngModel)]="menu.idMenu"
               placeholder="ID" name="id">

            </div>
          </div>
        </div>
        <div class="p-grid">
            <div class="p-xl-6 p-lg-6 p-md-12 p-sm-12">
                <div class="ui-inputgroup">
                  <button pButton type="button" class="ui-button-rounded ui-button-raised ui-button-info"
                  label=" Nombre"></button>
                  <input [disabled]="disable" [(ngModel)]="menu.nombre" placeholder="Nombre"
                   name="proveedor" pInputText required>
                </div>
              </div>
          <div class="p-xl-6 p-lg-4 p-md-12 p-sm-12">
            <div class="ui-inputgroup">
              <button pButton type="button" class="ui-button-rounded ui-button-raised ui-button-info"
               label="Precio"></button>
              <input [disabled]="disable" pInputText required [(ngModel)]="menu.precio" placeholder="Precio"
               name="precio">

            </div>
          </div>

        </div>
        <div class="p-grid">
          <div class="p-xl-6 p-lg-6 p-md-12 p-sm-12">
            <div class="ui-inputgroup">
              <button pButton type="button" class="ui-button-rounded ui-button-raised ui-button-info"
               label="Detalle"></button>
              <input [disabled]="disable" pInputText required  [(ngModel)]="menu.detalles"
                 name="detalle" placeholder="detalles">

            </div>
          </div>
        </div>
        <p-footer *ngIf="!disable" >
          <button style="margin-right: .35em; float: left" (click)="confirmActualizar($event)" pButton type="button" label="Guardar" class="ui-button-success"></button>
          <button (click)="cancel($event)" pButton type="button" class="ui-button-danger" label="Cancelar"></button>

        </p-footer>

      </p-panel>
    </div>
    <div class="ui-g-6 ui-lg-6 ui-md-12 ui-sm-12">
      <!-- <p-scrollPanel [style]="{width: '100%', height: '200px'}">-->
      <p-panel *ngIf="mostrarServicio" header="Lista de Servicios">
        <p-toolbar>
          <button (click)="openModalServicio()" pButton type="button" icon="pi pi-plus"
          label="Agregar Servicio"
          class="ui-button-warning"></button></p-toolbar>
        <p-table [value]="menuServicioLista" [scrollable]="true" scrollHeight="200px">
          <ng-template pTemplate="header">
            <tr>
              <th>Servicio</th>
              <th>Detalle</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-MR>
            <tr [pSelectableRow]="MR" (click)="openModalServicio(MR)">
              <td>{{MR.servicio.nombre}}</td>
              <td>{{MR.servicio.detalle}}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-panel>
      </div>
  </form>
</div>

<p-confirmDialog></p-confirmDialog>
<p-growl [value]="msgs"></p-growl>
<p-dialog  [contentStyle]="{'overflow':'visible'}" header="Agregar servicio al menu" [(visible)]="addServicio">

  <div class="p-grid">
    <div class="p-col">
      <div  class="ui-inputgroup">
        <button pButton type="button" class="ui-button-rounded ui-button-raised ui-button-info"
        label="Servicio"></button>
        <p-autoComplete [(ngModel)]="servicio" [suggestions]="servicioListaFiltrado"
        (completeMethod)="filtradorServicio($event)" field="nombre" [size]="30" p
        laceholder="Servicio" [minLength]="1" [dropdown]="true" name="nombre"></p-autoComplete>
      </div>
    </div>
  </div>
  <p-footer>
    <button *ngIf="tipoDeEdicionDeServicio" class="ui-button-warning" type="button" pButton
     icon="pi pi-trash" (click)="eliminarMenuServicio(menuServicioTemporal)"
      label="Eliminar"></button>
    <button *ngIf="!tipoDeEdicionDeServicio" type="button" pButton icon="pi pi-check"
    (click)="addServicioToMenu($event)"
      label="Agregar"></button>
    <button class="ui-button-danger" type="button" pButton icon="pi pi-close" (click)="addServicio=false" label="Cancelar"></button>
  </p-footer>
</p-dialog>
